body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards-group {
  display:flex;
}

.card-footer{
  position:absolute;
  bottom:0;
  width:100%;
  }

.carousel-inner {
  display: flex;
}
.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev {
  width: 5rem;
}

.carousel-control-next {
  width: 5rem;

}
